@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?nkrsc0");
  src: url("fonts/icomoon/icomoon.eot?nkrsc0#iefix") format("embedded-opentype"), url("fonts/icomoon/icomoon.ttf?nkrsc0") format("truetype"), url("fonts/icomoon/icomoon.woff?nkrsc0") format("woff"), url("fonts/icomoon/icomoon.svg?nkrsc0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-link:before {
  content: "\e901";
}

.icon-cart:before {
  content: "\e902";
}

.icon-favorite:before {
  content: "\e903";
}

.icon-location:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-send:before {
  content: "\e907";
}

.icon-share:before {
  content: "\e908";
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #3A3A3A;
  background-color: #F9F1E7;
}

ul, li {
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input,
input {
  outline: none;
  display: block;
  width: 100%;
}

textarea.input {
  resize: none;
  padding: 0 0;
}

.wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.toggle-mnu {
  position: relative;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: none;
  width: 28px;
  height: 28px;
  margin-top: 14px;
  margin-left: 15px;
}

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #3A3A3A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}

@media only screen and (max-width: 767.98px) {
  .toggle-mnu {
    display: block;
  }
}

.icon {
  background-color: transparent;
  border: none;
}

.justify {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
}

.hidden {
  display: none;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

._prod-img {
  position: relative;
  padding-bottom: 80%;
}

._prod-img img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

._fit img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
  min-height: 125px;
  position: relative;
}

@media only screen and (max-width: 991.98px) {
  .header__body {
    min-height: 80px;
  }
}

@media only screen and (max-width: 767.98px) {
  .header__body {
    min-height: 50px;
  }
}

.header__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 494px;
  -ms-flex: 0 1 494px;
  flex: 0 1 494px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 991.98px) {
  .header__main {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.header__logo {
  position: relative;
  z-index: 5;
  margin-right: 60px;
  font-size: 24px;
  line-height: 120.83333%;
  font-family: "Gilroy-Bold", sans-serif;
  color: #000;
  text-decoration: none;
}

@media (max-width: 1270px) {
  .header__logo {
    margin-right: -webkit-calc(15px + 45 * ((100vw - 320px) / 950));
    margin-right: calc(15px + 45 * ((100vw - 320px) / 950));
  }
}

.menu {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 500px;
  -ms-flex: 0 1 500px;
  flex: 0 1 500px;
  margin-right: 60px;
}

@media (max-width: 1270px) {
  .menu {
    margin-right: -webkit-calc(15px + 45 * ((100vw - 320px) / 950));
    margin-right: calc(15px + 45 * ((100vw - 320px) / 950));
  }
}

@media only screen and (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 70px 15px 30px 15px;
    overflow: auto;
    background-color: #F4F5F7;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
}

.menu__body:before {
  content: '';
  position: fixed;
  z-index: 5;
  top: 0;
  left: -100%;
  width: 100%;
  height: 50px;
  background-color: #F4F5F7;
}

@media only screen and (min-width: 767.98px) {
  .menu__body:before {
    display: none;
  }
}

@media only screen and (max-width: 767.98px) {
  .menu__body.active {
    left: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .menu__body.active:before {
    left: 0;
  }
}

@media only screen and (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

.menu__item {
  position: relative;
  padding: 5px 0;
  margin: 0 3px;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 767.98px) {
  .menu__item {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 10px 0;
  }
}

@media (any-hover: hover) {
  .menu__item:hover .menu__sub-list {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  .menu__item:hover .menu__arrow,
  .menu__item:hover .menu__link {
    color: #E89F72;
  }
}

@media only screen and (min-width: 767.98px) {
  .menu__item.touch-hover .menu__sub-list {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
  }
  .menu__item.touch-hover .menu__arrow {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  .menu__item.touch-hover .menu__arrow,
  .menu__item.touch-hover .menu__link {
    color: #E89F72;
  }
}

@media only screen and (max-width: 767.98px) {
  .menu__item.active .menu__arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.menu__link {
  color: inherit;
  text-decoration: none;
  font-family: "Gilroy-Medium", sans-serif;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media only screen and (max-width: 767.98px) {
  .menu__link {
    font-size: 24px;
  }
}

.menu__arrow {
  margin: 0 8px;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 6px;
}

@media only screen and (max-width: 767.98px) {
  .menu__arrow {
    font-size: 14px;
  }
}

.menu__sub-list {
  padding: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  background-color: #E89F72;
}

@media only screen and (min-width: 767.98px) {
  .menu__sub-list {
    min-width: 200px;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.menu__sub-item {
  list-style-type: none;
}

.menu__sub-item:not(:last-child) {
  margin-bottom: 5px;
}

.menu__sub-link {
  color: #fff;
  line-height: 120%;
}

.header__search {
  padding-right: 30px;
}

@media (max-width: 1270px) {
  .header__search {
    padding-right: -webkit-calc(15px + 15 * ((100vw - 320px) / 950));
    padding-right: calc(15px + 15 * ((100vw - 320px) / 950));
  }
}

@media only screen and (min-width: 991.98px) {
  .header__search {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
  }
}

.search-form {
  max-width: 473px;
}

.search-form.active .search-form__form {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.search-form.active .search-form__icon {
  color: #E89F72;
}

.search-form__icon {
  position: relative;
  z-index: 5;
  font-size: 22px;
  color: #262f56;
}

@media only screen and (min-width: 991.98px) {
  .search-form__icon {
    display: none;
  }
}

.search-form__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

@media only screen and (max-width: 991.98px) {
  .search-form__form {
    position: absolute;
    width: 100%;
    top: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    -webkit-box-shadow: 0 0 5px rgba(58, 58, 58, 0.3);
    box-shadow: 0 0 5px rgba(58, 58, 58, 0.3);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.search-form__btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45px;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  height: 45px;
  font-size: 15px;
  color: #333333;
}

.search-form__input {
  width: 100%;
  padding-right: 20px;
  border: none;
  font-size: 14px;
  color: #D8D8D8;
}

.header__actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
  grid-column-gap: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1270px) {
  .header__actions {
    grid-column-gap: -webkit-calc(15px + 15 * ((100vw - 320px) / 950));
    grid-column-gap: calc(15px + 15 * ((100vw - 320px) / 950));
  }
}

.actions-header__item--favorites,
.cart-header__icon {
  position: relative;
  font-size: 24px;
  color: #262F56;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (any-hover: hover) {
  .actions-header__item--favorites:hover,
  .cart-header__icon:hover {
    color: #E89F72;
  }
}

.cart-header__icon {
  display: block;
  position: relative;
}

.cart-header__icon span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: -10px;
  right: -10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #E89F72;
  font-size: 12px;
  color: #fff;
  font-family: "Gilroy-Regular", sans-serif;
}

.actions-header__item--user {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@media (max-width: 1270px) {
  .actions-header__item--user {
    width: -webkit-calc(30px + 10 * ((100vw - 320px) / 950));
    width: calc(30px + 10 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 1270px) {
  .actions-header__item--user {
    height: -webkit-calc(30px + 10 * ((100vw - 320px) / 950));
    height: calc(30px + 10 * ((100vw - 320px) / 950));
  }
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr 290px;
  grid-template-columns: 250px 1fr 290px;
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  column-gap: 80px;
  padding-top: 80px;
  padding-bottom: 60px;
  border-top: 1px solid #D8D8D8;
}

@media (max-width: 1270px) {
  .footer__body {
    -webkit-column-gap: -webkit-calc(0px + 80 * ((100vw - 320px) / 950));
    -moz-column-gap: calc(0px + 80 * ((100vw - 320px) / 950));
    column-gap: calc(0px + 80 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 1270px) {
  .footer__body {
    padding-top: -webkit-calc(30px + 50 * ((100vw - 320px) / 950));
    padding-top: calc(30px + 50 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 1270px) {
  .footer__body {
    padding-bottom: -webkit-calc(30px + 30 * ((100vw - 320px) / 950));
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / 950));
  }
}

@media only screen and (max-width: 1270px) {
  .footer__body {
    -ms-grid-columns: 1fr 290px;
    grid-template-columns: 1fr 290px;
  }
}

@media only screen and (max-width: 991.98px) {
  .footer__body {
    display: block;
  }
}

@media only screen and (max-width: 1270px) {
  .footer__main {
    grid-column: 1/3;
    margin-bottom: 30px;
  }
}

.footer__logo {
  display: inline-block;
}

.footer__text {
  line-height: 150%;
  color: #D8D8D8;
}

.footer__text:not(:last-child) {
  margin-bottom: 1em;
}

@media only screen and (max-width: 1270px) {
  .contacts-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 767.98px) {
  .contacts-footer {
    display: block;
  }
}

.contacts-footer__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Gilroy-Regular", sans-serif !important;
  line-height: 150%;
}

.contacts-footer__item:before {
  margin-right: 8px;
  font-family: icomoon;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 1em;
}

@media only screen and (max-width: 1270px) {
  .contacts-footer__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 767.98px) {
  .contacts-footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767.98px) {
  .contacts-footer__item {
    display: block;
  }
}

.menu-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 991.98px) {
  .menu-footer {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 575.98px) {
  .menu-footer {
    display: block;
  }
}

@media only screen and (max-width: 767.98px) {
  .menu-footer__column:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer__title {
  margin: 0 0 0.66667em 0;
  font-size: 24px;
  line-height: 120.83333%;
  font-family: "Gilroy-Bold", sans-serif;
}

@media (max-width: 1270px) {
  .footer__title {
    font-size: -webkit-calc(18px + 6 * ((100vw - 320px) / 950));
    font-size: calc(18px + 6 * ((100vw - 320px) / 950));
  }
}

.menu-footer__list li {
  list-style-type: none;
}

.menu-footer__list li:not(:last-child) {
  margin-bottom: 15px;
}

.menu-footer__link {
  color: #D8D8D8;
  line-height: 120%;
  font-family: "Gilroy-Medium", sans-serif;
  text-transform: capitalize;
}

@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #E89F72;
  }
}

.subscribe-footer__form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-footer__form input {
  padding: 0 12px;
  background-color: #F4F5F7;
  border: none;
  color: #949496;
}

.subscribe-footer__button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45px;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  margin-left: 4px;
  max-width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  background-color: #E89F72;
  color: #fff;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */

/*# sourceMappingURL=maps/main.css.map */
