section.furniture
	.furniture__container
		.furniture__label Share your setup with
		.furniture__title.title #FuniroFuriniture

		.furniture__body
			.furniture__body
				//- grid container
				.furniture__items(id="gallery")

					.furniture__column
						.furniture__row.row-furniture.row-furniture--left-top
							a(href="img/furniture/09.jpg").row-furniture__item
								img(src="img/furniture/09.jpg")
							a(href="img/furniture/01.jpg").row-furniture__item
								img(src="img/furniture/01.jpg")
							a(href="img/furniture/02.jpg").row-furniture__item
								img(src="img/furniture/02.jpg")

						.furniture__row.row-furniture.row-furniture--left-bottom
							a(href="img/furniture/04.jpg").row-furniture__item
								img(src="img/furniture/04.jpg")
							a(href="img/furniture/06.jpg").row-furniture__item
								img(src="img/furniture/06.jpg")
							a(href="img/furniture/07.jpg").row-furniture__item
								img(src="img/furniture/07.jpg")
						
					.furniture__column
						.furniture__row.row-furniture.row-furniture--center
							a(href="http://wall.kinootziv.com/source/files/wallpapers/cher/1258541-cherry-jul514720.jpg").row-furniture__item
								img(src="http://wall.kinootziv.com/source/files/wallpapers/cher/1258541-cherry-jul514720.jpg")

					.furniture__column
						.furniture__row.row-furniture.row-furniture--right-top
							a(href="img/furniture/04.jpg").row-furniture__item
								img(src="img/furniture/04.jpg")
							a(href="img/furniture/05.jpg").row-furniture__item
								img(src="img/furniture/05.jpg")
							a(href="img/furniture/01.jpg").row-furniture__item
								img(src="img/furniture/01.jpg")

						.furniture__row.row-furniture.row-furniture--right-bottom
							a(href="img/furniture/08.jpg").row-furniture__item
								img(src="img/furniture/08.jpg")
							a(href="img/furniture/09.jpg").row-furniture__item
								img(src="img/furniture/09.jpg")
							a(href="img/furniture/06.jpg").row-furniture__item
								img(src="img/furniture/06.jpg")