.footer__container {}
.wrapper {}
.footer__body {
	display: grid;
	grid-template-columns: 250px 1fr 290px;
	@include adaptive-value('column-gap', 80, 0, 1);

	@include adaptive-value('padding-top', 80, 30, 1);
	@include adaptive-value('padding-bottom', 60, 30, 1);

	border-top: 1px solid $dark-gray;
}
.footer__main {}
.footer__logo {
	display: inline-block;
	
}
.footer__text {
	line-height: 150%;
	color: $dark-gray;
	&:not(:last-child){
		margin-bottom: 1em;
	}
}
.footer__contacts {}
.contacts-footer {}
.contacts-footer__item {
	display: inline-flex;
	align-items: center;
	font-family: $g-reg !important;
	line-height: 150%;
	&:before{
		margin-right: 8px;
		font-family: icomoon;
	}
	&:not(:last-child){
		margin-bottom: 1em;
	}
}
.icon-location {}
.icon-phone {}
.footer__menu {}
.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	// grid-column-gap:5px;
}
.menu-footer__column {}
.footer__title {
	 margin: 0  0 16px / 24px * 1em 0;
	@include adaptive-value('font-size', 24, 18, 1);
	line-height: 29 / 24 * 100%;
	font-family: $g-b;
}
.menu-footer__list {
	li{
		list-style-type: none;
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}
}
.menu-footer__link {
	color: $dark-gray;
	line-height: 120%;
	font-family: $g-med;
	text-transform: capitalize;

	@media (any-hover: hover) {
		&:hover{
			color: $accent;
		}
	}
}
.footer__subscribe {}
.subscribe-footer {

}
.subscribe-footer__form {
	position: relative;
	display: flex;

	input{
		padding: 0 12px;
		background-color: $gray;
		border:none;
		color: #949496;
	}
}
.input {}
.subscribe-footer__button {
	flex: 0 0 45px;
	margin-left: 4px;
	max-width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	background-color: $accent;
	color: #fff;
}
.icon-send {}