.furniture {
	@include adaptive-value("padding-bottom", 85, 40, 1);
}
.furniture__container {}
.furniture__label {
	text-align: center;
	color: $dark-gray;
	font-size: 20px;
	margin-bottom: 8px;
}
.furniture__title {
	margin: 32px;
}
.title {}
.furniture__body {
	position: relative;
	@media (any-hover: none) { //только для устройств без ховера ставим скролл
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		
	}
}
.furniture__items {
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: column;
	align-items: center;
	gap: 16px;
	
	@media (any-hover: hover) { //только для устройств с ховером, выравниваем эл-ты. по центру(вертикаль)
		// на мобильниках будут по левому краю
		justify-content: center;
	}
}
.furniture__column {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -8px;

	&:first-child{
		justify-content: flex-end;
	}

}
.furniture__row {
	display: grid;
	padding: 0 8px;
	gap:16px;
	grid-template-columns: auto;
	grid-auto-flow: column;

	&:not(:last-child){
		margin-bottom: 16px;
	}
}
.row-furniture {}
.row-furniture--left-top {
	justify-content: end;
	align-items: end;
}
.row-furniture__item {
	@media (any-hover: hover) {
		img{
			transition: all .8s ease 0s;
			filter: grayscale(1);
			
			}
			&:hover{
				img{
					filter: grayscale(0);
				}
			}
		}
}
.row-furniture--left-bottom {
	justify-content: end;
	align-items: start;
}
.row-furniture--center {
	display: block;
}
.row-furniture--right-top {
	align-items: end;
}
.row-furniture--right-bottom {
	align-items: start;
}