.page__main-slider {
	background-color: #FCF9F4;
}
.main-slider {}
.main-slider__container {
	position: relative;

	&:before{
		@include min-screen($md){
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			right: 376px;
			background-color: #f9f1e7;
		}  
	}
	&:after{
		content: '';
	}
}
.main-slider__body {
	padding-top: 140px;
	position: relative;
	z-index: 3;

	@include max-screen($md){
		padding-top: 80px;
		
	} 
	@include max-screen($sm){
		padding-top: 50px;
		
	}
	@include min-screen($md){
		display: flex;
		
	}  
}
.main-slider__content {
	flex: 0 0 494/1240 * 100%;
}
.content-main {
	position: relative;
	z-index: 5;
	padding-left: 15px;
	padding-right: 15px;
	@include adaptive-value("padding-top", 60, 15, 1);
	@include adaptive-value("padding-bottom", 60, 15, 1);
	padding-left: 0;
	padding-right: 0;
	align-self: flex-start;

	@include min-screen($md){
		background-color: rgba(255, 255, 255, .9);
		@include adaptive-value("margin-bottom", 80, 15, 1);
		@include adaptive-value("padding", 60, 1, 1);
		
		 @supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)){// определение поддержки блюра без джаваскрипт
			background-color: rgba(255, 255, 255, .72);
			backdrop-filter: blur(31px);
		}
	}
}
.content-main__title {
	@include adaptive-value("font-size", 56, 24, 1);
	font-family: $g-med;
	line-height: 120%;

	&:not(:last-child){
	     //font-size of body/font-size данного блока
		margin-bottom: 16px/56px * 1em; //адаптивны	 маргин в зависимости от фонт-сайз
	}
}
.content-main__text {
	@include adaptive-value("font-size", 20, 16, 1);
	font-family: $g-med;
	line-height: 150%;
	&:not(:last-child){
		margin-bottom: 48px/20px * 1em; //адаптивны	 маргин в зависимости от фонт-сайз
	}
}
.content-main__button {
	@include adaptive-value("min-height", 78, 45, 1);
	@include adaptive-value("font-size", 20, 16, 1);
	font-family: $g-semi;
	line-height: 150%;
	background-color: $accent;
	color: 	#fff;
	width: 100%;

	@media (any-hover: hover) {
			&:hover{
				 background-color: darken($accent, 5%);
			}
			
		}	
}
.main-slider__slider {
	flex: 1 1 auto;
	// padding-bottom: 70px;
	min-width: 0; //для слайдера, находящегося внутри флекс-элемента

	@include min-screen($md){
		overflow: visible;
		@include adaptive-value("width", 934, 290, 1);
	}


	@include min-screen($md){
		padding-left: 32px;
	}
}
.slider-main {
	display: flex;
	align-items: flex-end;
	flex-direction:column;
	align-self: flex-end;

	@include max-screen($md){
		margin-left: -15px;
		margin-right: -15px;
		flex-direction:column-reverse;
	}  
}
.slider-main__controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// height: 70px;
	// flex: 1 0 auto;
	// width: 100%;
	align-self: stretch;
		margin-bottom: 20px;
	@include max-screen($md){
		justify-content: center;
	} 

}
.swiper-pagination-bullets{
	position: static;
	display: flex;
}
.swiper-pagination-bullet{
	flex: 1 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 27px;
	height: 27px;
	margin: 2px 0;
		background-color: transparent;
		opacity: 1;

	&:not(:last-child){
		margin-right: 12px;
	}
	&:before{
		content: '';position: absolute;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		border: 1px solid $accent;
		display: none;
	}
	&:after{
		content: '';
		width: 11px;
		height: 11px;
		background-color: $dark-gray;
		border-radius: inherit;
	}

	&-active{
		&:before{
			display: block;
		}
		&:after{
			background-color:  $accent;
		}
	}
}
.controls-slider-main {}
.controls-slider-main__dots {}
.controls-slider-main__arrows {
	display: grid;
	grid-template-columns: repeat(2, 48px);
	grid-column-gap: 8px;

	@include max-screen($md){
		display: none;
	}  
}
.slider-arrows {}
.slider-arrow {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: rgba($accent, .5);
	color: #fff;

	@media (any-hover: hover) {
		&:hover{
			 background-color:$accent;
		}
		
	}

	&--white{
		color: $accent;
		background-color: #fff;
		box-shadow: 0 4px 14px 1px rgba(#000, .16);

		@media (any-hover: hover) {
			&:hover{
				 background-color:$accent;
				 color: #fff;
			}
		
		}
	}	
}
.slider-arrow--prev {
	&:before{
		display: inline-block;
		transform: rotate(90deg);
	}
}

.slider-arrow--next {
	&:before{
		display: inline-block;
		transform: rotate(-90deg);
	}
}
.slider-main__body {
	
}
.slider-main__slide {
}
._fit {}
.slider-main__img {
	padding-bottom: 79.1%;
	._fit-img {

	}
}
.slider-main__content {
	// position: relative;
	padding: 20px;
		min-width: 295px;
		max-height: 300px;
		overflow: auto;
		z-index: 2;
		color: inherit;
		background-color: rgba(255, 255, 255, .72);
		display: flex;
		flex-direction: column;

		@supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)){// определение поддержки блюра без джаваскрипт
			background-color: rgba(255, 255, 255, .72);
			backdrop-filter: blur(31px);
		}

		@include min-screen($sm){
			position: absolute;
			min-width: 350px;
			@include adaptive-value("right", 40, 0, 1);
			@include adaptive-value("bottom", 40, 0, 1);
		}
}
.slider-main__title {
	@include adaptive-value("font-size", 28, 22, 1);
	font-family: $g-semi;
	line-height: 120%;
	
	&:not(:last-child){
		margin-bottom: 4px/28px * 1em;
	}
}
.slider-main__text {
	// color: $gray;
	&:not(:last-child){
		margin-bottom: 8px/16px * 1em;
	}
}
.slider-main__price {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	font-family: $g-semi !important;

	&:before{
		margin-left: 10px;
		font-size: 12px;
		font-family: 'icomoon';
	}

}
.icon-arrow-link {}